html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../img/tema-deer.png");
    background-size: 160px;
    background-repeat: repeat;
}

#logo {
    width: 5vw;
    border-radius: .3em;
    margin-left: 1em;
    border: 1px solid white;
}


footer {
    background-color: rgba(255,255,255,0.8);
    text-align: center;
}


.container {
    background-color: rgba(201, 5, 129, 0.6);
    color: #ffffff;
    padding: .5em;
    border-radius: 1em;
}

#welcome-h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-size: 1.5em;
}

nav {
    background-color: #c90581;
}

.navbar-nav {
    margin-left: auto;
}

    .navbar-nav li a {
        color: white;
        text-decoration: none;
        margin-right: 1em;
    }

.subtitle-left {
    font-size: 1.5em;
    text-align: left;
}

.subtitle-right {
    font-size: 1.5em;
    text-align: right;
}

.p-left {
    text-align: left;
}

.p-right {
    text-align: right;
}

.container-menu p {
    font-size: .8em;
}

label{
    color:black;
}