html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* background-image: url("../img/tema-vidra.png"); */
    background-image: url("../img/tema-deer.png");
    /* background-image: url("../img/tema-borsec.png"); */
    /* background-image: url("../img/tema-vulpe.png"); */
    /* background-image: url("../img/tema-coco.png"); */
    /* background-image: url("../img/tema-iepure.png"); */
    background-size: 160px;
    background-repeat: repeat;
}

#logo {
    width: 5vw;
    border-radius: .3em;
    margin-left: 1em;
    border: 1px solid white;
}


footer{
    background-color: rgba(255,255,255,0.8);
    text-align:center;
}


.container-menu {
    text-align: center;
    background-color:rgba(255,255,255, 0.2);
    color: white;
    padding:.5em;
    border-radius:1em;
    text-shadow: 1px 1px 1px black;
}

#welcome-h1{
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    font-size:1.5em;
}

nav {
    background-color: #FF2D7E;
}

.navbar-nav{
    margin-left:auto;
}

.navbar-nav li a{
    color:white;
    text-decoration: none;
    margin-right: 1em;
}

.subtitle{
    font-size:1.5em;
}

.container-menu p{
    font-size:.8em;
}
