@model TooDue.Models.Task

@{
    ViewBag.Title = "Create Task";
    var projectId = ViewBag.ProjectId;
    var usersInProject = ViewBag.UsersInProject as List<ApplicationUser>;
}

<h2>Create Task for Project @projectId</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Task_name" class="control-label"></label>
        <input asp-for="Task_name" class="form-control" />
        <span asp-validation-for="Task_name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task_description" class="control-label"></label>
        <input asp-for="Task_description" class="form-control" />
        <span asp-validation-for="Task_description" class="text-danger"></span>
    </div>
    
        <input type="hidden" asp-for="Task_completion" class="form-check-input" />

   
    <div class="form-group">
        <label asp-for="Task_create_date" class="control-label">Start Date</label>
        <input asp-for="Task_create_date" class="form-control" />
        <span asp-validation-for="Task_create_date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Task_complete_date" class="control-label">Deadline</label>
        <input asp-for="Task_complete_date" class="form-control" />
        <span asp-validation-for="Task_complete_date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Link_to_media" class="control-label"></label>
        <input asp-for="Link_to_media" class="form-control" />
        <span asp-validation-for="Link_to_media" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Project_Id" value="@projectId" />
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Show" asp-route-projectId="@ViewBag.ProjectId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
