@model TooDue.Models.Task

@{
    ViewBag.Title = "Edit Task";
}

<h2>Edit Task</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Task_id" />
        <input type="hidden" asp-for="Project_Id" />

        <div class="form-group">
            <label asp-for="Task_name" class="control-label"></label>
            <input asp-for="Task_name" class="form-control" />
            <span asp-validation-for="Task_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task_description" class="control-label"></label>
            <input asp-for="Task_description" class="form-control" />
            <span asp-validation-for="Task_description" class="text-danger"></span>
        </div>
        
            <input type="hidden" asp-for="Task_completion" class="form-control" />
           
       
        <div class="form-group">
            <label asp-for="Task_create_date" class="control-label"></label>
            <input asp-for="Task_create_date" class="form-control" />
            <span asp-validation-for="Task_create_date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Task_deadline" class="control-label"></label>
            <input asp-for="Task_deadline" class="form-control" />
            <span asp-validation-for="Task_deadline" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Link_to_media" class="control-label"></label>
            <input asp-for="Link_to_media" class="form-control" />
            <span asp-validation-for="Link_to_media" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Show" asp-route-projectId="@ViewBag.ProjectId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
