@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">
        <h1 id="welcome-h1">Welcome to the TooDue task tracker!</h1>
        <h2 class="subtitle-left">What is TooDue?</h2>
        <p class="p-left">TooDue is a Task tracker and organizer. You can use TooDue with your work colleagues, with your business partners or even with your friends, for simple things like trips, vacations and even Friday night outs.</p>
        <h2 class="subtitle-right">How is TooDue used?</h2>
        <p class="p-right">With TooDue, you can have projects with as many tasks as you want. Simply create a project, choose who to share it with (you can have projects that only you can view) and then start assigning tasks. Of course, if we're talking about a personal project, you can simply assign the task to yourself and check it when it's completed. Get productive!</p>
        <h2 class="subtitle-left">Why should you choose TooDue?</h2>
        <p class="p-left">TooDue combines simplicity with powerful features. Unlike other task trackers, TooDue offers intuitive tools that don’t overwhelm you but still allow you to handle complex projects with ease. Whether you're a solo entrepreneur, a small team, or just a group of friends, TooDue adapts to your workflow, making productivity enjoyable!</p>
        <h2 class="subtitle-right">What makes TooDue unique?</h2>
        <p class="p-right">TooDue stands out with its customizable reminders, collaborative task boards, and real-time updates. Need to adjust plans on the fly? No problem! With TooDue, every project stays on track thanks to seamless syncing across all your devices. Plus, our playful and user-friendly interface turns task management into a fun experience.</p>
    </div>
    <script src="js/index.js"></script>


